$bg-color: darkgoldenrod;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/restaurant.jpeg") no-repeat center fixed;
  background-size: cover;
  color: aliceblue;
}

.main {
  max-width: 100%;
  background: rgba(131, 133, 131, 0.925);
  border: 5px solid rgba(100, 236, 37, 0.933);
  border-radius: 20px;
  padding-bottom: 1em;
  margin-top: 15%;
  margin-bottom: 2em;
  z-index: 0;

  .main-div {
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
  }
}

.menu-background {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(131, 133, 131, 0.925);
  border: 5px solid rgba(100, 236, 37, 0.933);
  border-radius: 20px;
  padding-bottom: 1em;
  margin-bottom: 2em;
  color: black;
}

.menu-item {
  padding: 20px 20px 0 20px;
}

.menu-background img {
  width: 300px;
  height: 200px;
}

.menu-item p {
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  background: rgba(131, 133, 131, 0.925);
  border: 5px solid rgba(100, 236, 37, 0.933);
  border-radius: 20px;
}

.contact-section p {
  text-align: center;
  padding: 20px 0;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .menu-background {
    display: grid;
    grid-template-columns: 1fr;
  }
}
